html, body {margin: 0; padding: 0;}

body {background: rgba(165,210,212,1)}

header {
	padding: 10px 0 0 46px;
	z-index: 99;
	position: absolute;
	
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size:40px;
	font-weight: 700;
	line-height:32px;
	text-shadow: 0 1px 7px rgba(0,0,0,0.4);
}
header span {
	display: block; 
	padding-top:4px;
	font-size: 16px; 
	font-weight: 300; 
	font-style: italic;
	line-height:16px;
}

.leaflet-container {font-family: 'Roboto', sans-serif; }

div#map {
	height: 100%;
	background: center rgba(165,210,212,1);
	
	color: rgba(32,32,32,1);
	transition: .3s all;
}

div#map form {margin-bottom:0;}

div#map .info.legend {
	display: block;
	background: white;
	border-radius: 5px;
}

div#map .featureInfo {
	padding: 6px;
	max-width: 320px;
	background: #fff;
	text-align: justify;
	
	border-radius: 5px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	
	transition: all 1s;
}

div#map .featureInfo h2 {margin: 0}
div#map .featureInfo h3 {margin: 0 0 4px}
div#map .featureInfo h4 {margin: 0 0 4px}
div#map .featureInfo span.subtitle {font-size: 14px; font-style: italic;}

span.cityfeature {
	display: inline-block;  
	padding: 2px; 
	background-color: rgba(30,30,30,.2);
	
	border-radius:3px 
}