/*
	Oroboros Clothing
*/

/** ****** ****** **\
	GLOBAL SIZING
\** ****** ****** **/

html, body {margin: 0; padding: 0;}

p {margin: 0; padding: 0;}

ul {}

ul.no-bullet {
	margin: 4px 0 0 8px; 
	padding: 0; 
	list-style-type: none;
}
ul.no-bullet>li {
	margin: 0 0 0 8px;
	padding: 4px 0;
}

/** ******* **\
	CONTENT
\** ******* **/

body{
	background: url(paperpattern.png) rgb(239, 226, 165);
	
	color: rgb(25,25,25);
	font-family: 'Roboto', sans-serif; 
	font-size: 12px;
}

h1, h2, h3, h4 {font-family: 'Roboto Slab', serif; clear: both}

#scrollTopbtn {
	display: block;
	bottom: -64px; right: 32px;
	width: 64px; height: 64px;
	position: fixed;
	background: rgba(40,180,120,1);	
	font-size: 32px;
	line-height: 60px;
	text-align: center;
	
	border-radius: 32px;
	box-shadow: 0 4px 16px 0 rgba(32,32,32,.67);
	color: white;
	text-decoration: none;
	
	transition: all .1s;
	z-index:99;
}
#scrollTopbtn:hover {background: rgba(48,206,130,1)}
#scrollTopbtn:active {box-shadow: 0 0 12px 0 rgba(32,32,32,.67)}

/* HEADER */

header {
	display: block;
	margin: 16px auto 16px;
	width: 96%; 
}
header>h1 {
	margin: 0; padding: 0; 
	
	line-height: 80px;
	font-size: 200px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	}
header>span {
	display: block; 
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
}

/* MAP */

div#mapcontainer {
	position: static;
	display: block;
}
#mapcontainer>a.goToFull {
	position: relative;
	display: block; 
	margin: 0 auto 0;
	width: 60px;
	top: -20px;
	background: rgba(250,250,250,.5);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	border-radius: 15px;
	
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color:rgba(32, 36, 36, 1);
	
	z-index: 90;
}

iframe#map {
	width: 100%;
	height: 400px;
	border: none;
	z-index: 50;
}

/* CONTENT */

#contentcontainer {
	display: block;
	margin: 0 auto 0;
	width: 96%;
}

.devblock {
	display: block;
	margin: 8px 32px 8px -8px;
	padding: 8px;
	background: rgb(255, 58, 58);
	border-radius: 16px 16px 16px 0;
	color: white;
	box-shadow: 0 4px 8px rgba(117, 103, 51, .67);
}

#contentcontainer hr {
	margin: 8px -8px; 
	border: 0; 
	border-bottom: dashed 1px rgba(0,0,0,.5);
}

.sectionCollapse {
}

.full-block { clear: both; }
.half-block {} /* If the display res is big enough, blocks fold to half */

.sectionCollapse>h1 {
	margin: 8px 0 0; 
	padding: 4px 8px;
	background: rgba(25,25,25,1);
	text-transform: uppercase;
	color: rgb(226, 226, 226);
	
	cursor: pointer;
}
.sectionCollapse>div {
	/*background: rgba(0,0,0,.1);*/
	border: 2px inset rgba(25,25,25,1);
	border-top: none;
}

.sec-col-item {padding: 8px;}

	/** Section Items **/
	.keylist {
		display: block;
		margin: 16px;
		border: 1px solid rgb(68, 206, 212);
		border-radius: 4px;
	}
	.keylist>span {
		display: block; 
		padding-left: 4px;
		background: rgb(68, 206, 212);
		color: white;
		font-weight: 700;
		text-transform: uppercase;
	}
	.keylist ul {
		margin: 0;
		padding: 4px 0; padding-left: 24px;
	}
	.keylist ul li {
		text-indent:-15px;
		padding-left:15px;
	}
	
	.keylist ul li span {
		font-family: 'Roboto Slab', serif;
		font-weight: 700;
	}
	.keylist ul li span::after {content:" -"}
	
	.region-items {
		
	}
	.region-items>h1 {
		margin: 0; margin-top: 4px;
		padding: 0 8px;
		background: rgba(25,25,25,1);
		color: rgb(226, 226, 226);
		cursor: pointer;
	}
	.region-items>div {
		padding: 8px;
		border: rgba(25,25,25,1) inset 1px;
	}
	
	.region-items h2 {
		margin: 0; padding: 0;
		font-size: 12px;
		text-transform: uppercase;
	}
	
		.religiontable {
			display: inline-block;
			width: 100%;
			font-size:12px;
			border-spacing: 0;
		}
		.religiontable .rtr {padding-bottom: 4px;}
		tbody.relibodygrp tr:nth-child(odd) {
			background-color: rgba(0,0,0,.1);
		}
		.religiontable .rsym { width: 42px; height: 42px;text-align: center; }
		.religiontable .rdie { }
		.religiontable .rali { text-align: center; text-transform: uppercase;}
		.religiontable .rdom { }
		
		div.campaign-info {
			
		}
		.campaign-info>h1 {
			margin: 0; padding: 0 8px;
			background: rgb(25,25,25);
			color: rgb(226,226,226);
			
			cursor: pointer;
		}
		.campaign-info>div {
			padding: 8px;
			border: inset 1px rgb(25,25,25);
			border-top: none;
		}
	
	/**  Section Items end**/

/* FOOTER */

footer {
	display: block;
	margin: 16px auto 16px;
	width: 96%; 
	
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}
footer span {display: block;}
footer .footerPin {
	margin: 0 8px 8px;
	height: 32px;
}

/** ******* ******* **\
	BROWSER CHANGES
\** ******* ******* **/

	
